.card{
  box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  background-color: #242424;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  min-width: 454px;
  min-height: 545px;
}
@media(max-height:600px){
  .card{
    transform: scale(0.8);
  }
}
.whitecard{
  box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  min-width: 454px;
  min-height: 545px;
}
@media(max-height:600px){
  .card{
    transform: scale(0.8);
  }
}
.signInButton {
 background-color: #7029CF;
  width: 240px;
  min-height: 56px;
  border-radius: 32px;
  color: #F7F7F7;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: none;
  transition: background-color 0.2s, transform 0.1s;
  font-family:"GT Walsheim";
  align-self: center;
  margin-bottom: 156PX;
}

.signInButton:hover {
  background-color: #6d28d9;
}

.signInButton:active {
  transform: scale(0.97);
}

.brandHeader {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom:114px;
}
.welcomeHeading {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.2;
  font-family:"lora-semibold-italic";
 
}
.whitewelcomeHeading {
  font-size: 32px;
  color: #000000;
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.2;
  font-family:"lora-semibold-italic";
 
}

