.welcomeHeading {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Lora";
  font-weight: 600;
  font-style: italic;
}
.whitewelcomeHeading {
  font-size: 24px;
  color: black;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Lora";
  font-weight: 600;
  font-style: italic;
}


.card{
  box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  background-color: #242424;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  min-width: 454px;
}
@media(max-height:600px){
  .card{
    transform: scale(0.8);
  }
}


.whitecard{
   box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  min-width: 454px;
}

.conditionsList {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "GT Walsheim";
  font-size: 14px;
}

.conditionItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  color: #FA6E6E;
}

.conditionItemValid {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  color: #00FF8B;
}
.whiteconditionItemValid {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  color: #00A394;
}




