.container {
  background-image: url('/login/background.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100dvh;
}

@media (min-width: 600px) {
  .container {
    justify-content:flex-end!important;
    padding-right: clamp(1rem, 4vw + 1rem, 183px);
  }
}
@media (max-width:767px) {
 .container {
    justify-content: center!important;
    padding: 0;
  } 
}
@media (max-height:600px) {
  .container{
    height: auto!important;
  }
  
}

.card {
  box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: clamp(21.875rem, 19.8852rem + 8.8435vw, 28.375rem);
  min-height: 600px;
  background-color: #242424;
  border-radius: 32px;
}
@media(max-height:600px){
  .card{
    transform: scale(0.8);
  }
}
.whitecard {
  box-shadow: 0 15px 35px rgba(33, 34, 33, 0.623);
  transform: translateY(-4px);
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: clamp(21.875rem, 19.8852rem + 8.8435vw, 28.375rem);
  min-height: 600px;
  background-color:white;
  border-radius: 32px;
}
@media(max-height:600px){
  .whitecard{
    transform: scale(0.8);
  }
}

.brandHeader {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(2.1875rem, 1.9388rem + 1.1054vw, 3rem);
}



.welcomeHeading {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lora";
  font-weight: 600;
  font-style: italic;
}
.whitewelcomeHeading {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lora";
  font-weight: 600;
  font-style: italic;
}

.subtitle {
  font-size: 14px;
  color: #9E9E9E;
  text-align: center;
  margin-bottom: 24px;
 font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.whitesubtitle {
  font-size: 14px;
  color:#565656 ;
  text-align: center;
  margin-bottom: 24px;
  font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}

.formGroup {
  width: 100%;
  margin-bottom: 16px;
  font-family:"GT Walsheim";
}

.formGroupSmall {
  font-family:"GT Walsheim";
  width: 100%;
  margin-bottom: 24px;
  
}

.label {
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 8px;
 font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.whitelabel {
  font-size: 14px;
  color: #555555;
  display: block;
  margin-bottom: 8px;
  font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.input {
  font-size: 12px;
  border: 1px solid #9E9E9E;
  width: 100%;
  min-height: 48px;
  padding: 0px 24px;
  background-color: transparent;
  border-radius: 1536px;
  outline: none;
  transition: border-color 0.2s;
  color:white;
  font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.whiteinput {
  font-size: 12px;
  border: 1px solid #555555;
  width: 100%;
  min-height: 48px;
  padding: 0px 24px;
  background-color: transparent;
  border-radius: 1536px;
  outline: none;
  transition: border-color 0.2s;
  color:#555555;
font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.whiteinput::placeholder{
  color: #555555!important;
 font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
  opacity: .6;
}
.input::placeholder{
  color: #808080!important;
  font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
  opacity: .6;
}

.inputError {
  font-size: 12px;
  color: #FA6E6E;
  border: 1px solid #FA6E6E;
  background-color: #2a2a2a;
  width: 100%;
  padding: 10px 16px;
  border-radius: 9999px;
  outline: none;
  transition: border-color 0.2s;
}
.whiteinputError {
  font-size: 12px;
  color: #FA6E6E;
  border: 1px solid #FA6E6E;
  background-color: white;
  width: 100%;
  padding: 10px 16px;
  border-radius: 9999px;
  outline: none;
  transition: border-color 0.2s;
}

.passwordWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #9E9E9E;
  border-radius: 1536px;
  padding: 0px 16px;
  min-height: 48px;
  transition: border-color 0.2s;
}
.whitepasswordWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #555555;
  border-radius: 1536px;
  padding: 0px 16px;
  min-height: 48px;
  transition: border-color 0.2s;
}
input:autofill{
  background-color: transparent !important;
}

.passwordWrapperError {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  border: 1px solid #FA6E6E;
  border-radius: 9999px;
  padding: 10px 16px;
  transition: border-color 0.2s;
}


.whitepasswordWrapperError {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #FA6E6E;
  border-radius: 9999px;
  padding: 10px 16px;
  transition: border-color 0.2s;
}

.passwordInput {
  flex: 1;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: white;
 
}
.input::placeholder {
  transition: opacity 0.2s ease;
}

.input:focus::placeholder {
  opacity: 0;
}
.whiteinput::placeholder {
  transition: opacity 0.2s ease;
}

.whiteinput:focus::placeholder {
  opacity: 0;
}


.whitepasswordInput {
  flex: 1;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  color: #555555;
 
}
.passwordInput::placeholder {
  color: #9E9E9E!important;
  font-weight: 400;
  opacity: .6;
}
.passwordInput::placeholder {
  transition: opacity 0.2s ease;
}

.passwordInput:focus::placeholder {
  opacity: 0;
}
.whitepasswordInput::placeholder {
  transition: opacity 0.2s ease;
}

.whitepasswordInput:focus::placeholder {
  opacity: 0;
}
.whitepasswordInput::placeholder {
  color: #555555!important;
  font-weight: 400;
  opacity: .6;
}

.passwordInputError {
  flex: 1;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  color:#FA6E6E;
}
.whitepasswordInputError {
  flex: 1;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  color: #FA6E6E; 
}

.eyeIcon {
  cursor: pointer;
  /* filter: invert(1) brightness(0.6); */
}

.errorMessage {
  color: #FA6E6E;
  font-size: 11px;
  margin-top: 4px;
  padding-left: 12px;
}

.forgotPassword {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #555;
  font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}
.whiteforgotPassword {
  font-size: 13px;
  color: #555555;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #555;
   font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}

.signInButton {
  background-color: #7029CF;
  width: 240px;
  min-height: 56px;
  border-radius: 32px;
  color: #F7F7F7;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: background-color 0.2s, transform 0.1s;
  align-self: center;
   font-family: "GT Walsheim";
  font-weight: 600;
  font-style: normal;
}

.signInButton:hover {
  background-color: #6d28d9;
}

.signInButton:active {
  transform: scale(0.97);
}

.footer {
  margin-top: 24px;
  text-align: center;
  font-size: 11px;
  line-height: 1.5;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.whitefooter {
  margin-top: 24px;
  text-align: center;
  font-size: 11px;
  line-height: 1.5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footerIcon {
  filter: invert(1) brightness(0.6);
}

