.navbar{
   
  background-color: var(--background);



}
.logoImg {
 margin-left: clamp(1.75rem, 1.6536rem + 0.4259vw, 2.0625rem);
 margin-top: clamp(1.75rem, 1.6536rem + 0.4259vw, 2.0625rem);

}
.navInside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 3px;
  width: 100%;
}
.navItems {
  position: relative;
  display: flex;
  align-items: center;
 margin-right: clamp(1.75rem, 1.6536rem + 0.4259vw, 2.0625rem);
}
.searchInput {
  position: absolute;
  right: 87px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 20px;
  border-radius: 48px;
  border: 1px solid var(--hot-purple);
  outline: none;
  font-size: 14px;
  width: 217px;
  height: 36px;
}
.line {
  margin: 0 -4px;
  width: 15px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: var(--green);
  display: block;
  flex-shrink: 0;
  clip-path: polygon(
    0% 25%,
    0% 10%,
    0% 0%,
    0% 100%,
    0% 90%,
    0% 75%,
    10% 68%,
    20% 63%,
    30% 60%,
    40% 58%,
    50% 57%,
    60% 58%,
    70% 60%,
    80% 63%,
    90% 68%,
    100% 75%,
    100% 90%,
    100% 100%,
    100% 0%,
    100% 10%,
    100% 25%,
    90% 32%,
    80% 37%,
    70% 40%,
    60% 42%,
    50% 43%,
    40% 42%,
    30% 40%,
    20% 37%,
    10% 32%
  );
}

.notifications,
.quote,
.search {
  width: 36.5px;
  height: 36;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: 50%;
  margin: 0;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  margin-bottom: 0;
  color: var(--black);
}
.selectedBtn{
  margin-top: 0;
  font-size: 16px;
  color: var(--black);
}