
.card-3,
.card-10,
.card-11 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card-1,
.card-15,
.card-9 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

.card-13,
.card-7 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.card-6,
.card-12 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

.card-8,
.card-10,
.card-14 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.card-icon-8,
.card-icon-14,
.card-icon-12 {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.card-image-4{
  height: 100%;
}